<div class="window-top-bar" (mousedown)="onMouseDown($event)" [ngClass]="{ 'moving-window': moving, 'flash': flash }">
    <div class="button-container">
        <div class="window-button close" *ngIf="canClose" (click)="doClose()" (mousedown)="$event.stopPropagation()"></div>
        <div class="window-button minimise" *ngIf="canMinimize" (mousedown)="$event.stopPropagation()"></div>
    </div>
    <div class="title-container">
        {{title || 'Untitled window'}}
    </div>
    <div class="dummy-thicc"></div>
</div>
<div class="window-content">
    <ng-template appWindowViewContainer></ng-template>
</div>